
body{
    font-family: futura;
    background-color: rgb(249, 238, 231);
    color:rgb(48, 48, 48);
    font-size: 16px;
}

.parallax-window {
    min-height: 500px;
    background: transparent;
}

#top-window{
  min-height: 750px;
  background: transparent;
}

.intro{
  z-index: 2;
  position: absolute;
  color:rgb(246, 223, 209) ;
}

span{
  color:rgb(255, 203, 181);
  font-size: 1.2em;
}

#first{
width: 60%;
margin-right: 20%;
margin-left: 20%;
z-index: 2;
position: absolute;
}

#content{
  margin: 5% 10%;
  line-height: 1.5em;
}

#bottom{
  margin: 3% 0;
  line-height: 1.5em;
  text-align: center;
}

#worktitle{
  text-align: center;
  padding: 4%;
}

.contact{
  text-align: center;
  color: rgb(39, 40, 39);
}

a:hover{
  color: hotpink;
}
