html,body{
    font-family: "neuzeit-grotesk", "futura";
    width:100%;
    height:100%;
    box-sizing: border-box;
}

.slide {
    background-attachment: fixed;
    width:100%;
    height:100%;
    position: relative;
}
.wrapper {
    width:960px;
    height:200px;
    margin:0 auto;
    position:relative;
}

.slideno {
    position:absolute;
    bottom:0px;
    left:0px;
    font-size:100px;
    font-weight:bold;
    color:rgba(255,255,255,0.3);
}

.button{
  margin-top: 200px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: 15px;
  animation: hideshow 2s ease infinite;
  color: white;
  text-align: center;
}

.arrow:hover{
  cursor: pointer;
}

polyline:hover{
  stroke: black;
}

h2:hover{
  cursor: pointer;
}

h4{
  color: #333399;
}

h4:hover{
  cursor: pointer;
}

p{
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 1.5px;
}

@keyframes hideshow {
  0% { stroke-width: 7; }
  50% { stroke-width: 11; }
  100% { stroke-width: 7; }
}

.flex-container{
  display: flex;
  flex-direction: row;
  align-content: center;
  width: 90%;
  margin-left: 5%;
  position: absolute;
  margin-top: 12%;
}

.project{
  width: 30%;
margin: 7px;
background-size: cover;
}

img{
  max-width: 100%;
}

.arrow{
  display: none;
  margin: auto;
}

#slide1{
    background-image: url('../images/background.png');
    background-repeat: repeat;
}

#slide2{

}

#slide3{
    background-color: #333399;
}

#brew{
  background-image: url("https://media.giphy.com/media/EfATJLdobOyQ0/giphy.gif");
}

#main-content{
  text-align: center;
  color: #333399;
  position: absolute;
  margin-top: 13%;
  width: 80%;
  margin-left: 10%;
}

.container {
    height: 0;
    width: 80%;    /* specify any width you want (a percentage value, basically) */
    margin: 0% 10%;
    /* apply a padding using the following formula */
    /* this formula makes sure the aspect ratio of the container equals that of the svg graphic */
    padding-top: 34%;
    position: relative;    /* create positioning context for svg */
}

.letters{
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  -webkit-animation: dash 5s linear forwards;
  animation: dash 5s linear forwards;
}

@-webkit-keyframes dash {
  to {
      stroke-dashoffset: 0;
    }
}
@keyframes dash {
  to {
      stroke-dashoffset: 0;
    }
}

/* Styles for the main content page*/

a{
  color: #333399;
}




@media(max-width: 375px){

}
